Source: gtts
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Mycroft Devs <devops@mycroft.ai>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all-dbg,
               python-all-dev (>= 2.6.6-3~),
               python-setuptools,
               python-gtts-token,
               python3-gtts-token,
               python3-all-dbg,
               python3-all-dev,
               python3-setuptools
Standards-Version: 4.0.0

Package: python-gtts
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: gtts module for Python
 This package contains the module for Python 2.x.

Package: python3-gtts
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
Description: gtts - Python 3.x
 This package contains the module for Python 3.x.
